<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<title>[[${sysName}]]-ログイン画面</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ログイン画面</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card card-primary mb-3">
            <div class="card-header">
                <h5 class="card-title">ログイン</h5>
            </div>
            <div class="card-body">
                <form th:method="post" th:action="@{/login}">
                    <div th:if="${showErrorMsg}" class="alert alert-danger" role="alert" th:text="${errorMsg}">※エラーメッセージ※</div>
                    <div th:if="${showLogoutedMsg}" class="alert alert-success" role="alert" th:text="#{demo.login.logouted}">※ログアウトメッセージ※</div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label">メールアドレス</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" name="eMail" placeholder="メールアドレス" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label">パスワード</label>
                        <div class="col-md-10">
                            <input class="form-control" type="password" name="password" placeholder="パスワード" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-md-2 col-md-10" align="center">
                            <button class="btn btn-primary" type="submit">ログイン</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="mb-3">
            アカウントをお持ちでない場合、<a th:href="@{/movies/sign_up}">新規作成</a>
        </div>
    </div>
	<script type="text/javascript">
// 		function validate() {
// 			if (document.f.username.value == ""
// 					&& document.f.password.value == "") {
// 				alert("メールアドレスとパスワードを入力してください");
// 				document.f.eMail.focus();
// 				return false;
// 			}
// 			if (document.f.username.value == "") {
// 				alert("メールアドレスを入力してください");
// 				document.f.eMail.focus();
// 				return false;
// 			}
// 			if (document.f.password.value == "") {
// 				alert("パスワードを入力してください");
// 				document.f.password.focus();
// 				return false;
// 			}
// 		}
	</script>
	<script src="/js/jquery-3.4.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
